.review-card-footer {
  display: flex;
  justify-content: space-between;
  font-size: small;

  .date-published {
    font-weight: 200;
  }
}

  .review-card {
    padding: 10px;
    
    .description {
      padding: 25px 0px;
    }

    .place {
      font-weight: bold;
    }
  
    .rating {
      color: gold;
    }
  }