.app-container {
  display: flex;
  flex-direction: column;
  font-size: small;

  .app-header {
    height: 30px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    z-index: 1;
    padding-left: 10px;
  }

  .review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    background-color: lighten(black, 30);
  }
}